#Disks {
  width: 100vw;
  height: auto;

  .DisksTitle {
    text-decoration: underline;
    font-weight: 600;
    text-underline-offset: 4px;
    text-align: center;
    font-size: 3rem;
    color: $second;
    letter-spacing: 0.1rem;

    @include responsive(md) {
      font-size: 4.5rem;
    }

    @include responsive(lg) {
      font-size: 6rem;
    }

    @include responsive(xl) {
      font-size: 5rem;
    }
  }

  .DisksWrapper {
    @include responsive(xl) {
      display: flex;
      flex-flow: row nowrap;
      margin-inline: 10rem;
      margin-top: 2rem;
    }
  }

  .DiskWrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 8rem;
    color: $second;

    @include responsive(md) {
      margin-top: 4rem;
      margin-bottom: 10rem;
    }

    @include responsive(lg) {
      margin-top: 5rem;
      margin-bottom: 12rem;
    }

    @include responsive(xl) {
      margin-top: 4rem;
      margin-bottom: 7rem;
    }

    .DiskImage {
      width: 25rem;

      @include responsive(md) {
        width: 35rem;
      }

      @include responsive(lg) {
        width: 45rem;
      }

      @include responsive(lg) {
        width: 28rem;
      }
    }

    .DiskTitle {
      margin-top: 1rem;
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: 0.1rem;

      @include responsive(md) {
        font-size: 4rem;
        margin-top: 1rem;
      }

      @include responsive(lg) {
        font-size: 5rem;
        margin-top: 1.5rem;
      }

      @include responsive(xl) {
        font-size: 3.5rem;
        margin-top: 1rem;
      }
    }

    .DiskType {
      font-size: 1.7rem;
      font-weight: 600;

      @include responsive(md) {
        font-size: 2.7rem;
      }

      @include responsive(lg) {
        font-size: 3.5rem;
      }

      @include responsive(xl) {
        font-size: 2rem;
      }
    }

    .DiskLink {
      text-decoration: none;
      color: $first;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 1rem;
      padding-block: 0.3rem;
      padding-inline: 1rem;
      border-radius: 1.3rem;
      background-color: $second;
      cursor: $pointer, pointer;

      @include responsive(md) {
        margin-top: 1.6rem;
        font-size: 3rem;
      }

      @include responsive(lg) {
        margin-top: 2.2rem;
        font-size: 3.8rem;
      }

      @include responsive(xl) {
        margin-top: 2rem;
        font-size: 2.7rem;
      }
    }
  }
}
