#Footer {
  width: 100vw;
  height: auto;
  background-color: $second;

  .FooterLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 2.5rem;
    padding-block: 2.5rem;

    @include responsive(md) {
      gap: 4rem;
      padding-block: 3.2rem;
    }

    @include responsive(lg) {
      gap: 6rem;
      padding-block: 4rem;
    }

    @include responsive(xl) {
      gap: 4.5rem;
      padding-block: 2rem;
    }

    .FooterLink {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 4.5rem;
      height: 4.5rem;
      cursor: $pointer, pointer;

      @include responsive(md) {
        width: 6.5rem;
        height: 6.5rem;
      }

      @include responsive(lg) {
        width: 9rem;
        height: 9rem;
      }

      @include responsive(xl) {
        width: 5.5rem;
        height: 5.5rem;
      }
    }

    .Spotify {
      background-image: url('../public/icons/spotify.png');
    }

    .Youtube {
      background-image: url('../public/icons/youtube.png');
    }

    .Instagram {
      background-image: url('../public/icons/instagram.png');
    }

    .Twitter {
      background-image: url('../public/icons/twitter.png');
    }
  }

  .FooterText {
    text-align: center;
    color: $first;
    font-size: 1.25rem;
    font-style: italic;
    padding-bottom: 1rem;

    @include responsive(md) {
      font-size: 1.85rem;
    }

    @include responsive(lg) {
      font-size: 2.3rem;
    }

    @include responsive(xl) {
      font-size: 1.5rem;
    }
  }
}
