#GalleryContainer {
  width: 100vw;
  height: auto;

  .Back {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: $second;
    display: flex;
    justify-content: center;
    align-items: center;

    .BackIcon {
      background-image: url('../public/icons/back.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  #Gallery {
    width: 100vw;

    .GalleryTitle {
      font-size: 3.5rem;
      color: $second;
      font-weight: 800;
      letter-spacing: 0.1rem;
      text-align: center;
      margin-block: 2.2rem;
    }

    .GalleryWrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;

      .GalleryImageWrapper {
        width: 33.3%;
        height: 15rem;

        .GalleryImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .imageFull {
          object-fit: contain;
        }
      }

      .wrapperFull {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba($first, 0.98);

        &::after {
          content: '';
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          background-image: url('../public/icons/close.png');
          background-position: center;
          background-size: 2.5rem;
          background-repeat: no-repeat;
          width: 4.2rem;
          height: 4.2rem;
          background-color: $second;
          border-radius: 50%;
        }
      }
    }
  }
}

.GalleryButton {
  text-align: center;
  padding-bottom: 5rem;

  .GalleryLink {
    text-decoration: none;
    color: $first;
    font-size: 2.5rem;
    font-weight: 600;
    padding-block: 0.3rem;
    padding-inline: 1rem;
    border-radius: 1.5rem;
    background-color: $second;
  }
}
