#GalleryContainer {
  width: 100vw;
  height: auto;

  .Back {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: $second;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: $pointer, pointer;

    @include responsive(md) {
      top: 2rem;
      left: 2rem;
      width: 5.5rem;
      height: 5.5rem;
    }

    @include responsive(lg) {
      top: 2.5rem;
      left: 2.5rem;
      width: 7rem;
      height: 7rem;
    }

    @include responsive(xl) {
      top: 2rem;
      left: 2rem;
      width: 5rem;
      height: 5rem;
    }

    .BackIcon {
      background-image: url('../public/icons/back.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 1.8rem;
      height: 1.8rem;

      @include responsive(md) {
        width: 2.5rem;
        height: 2.5rem;
      }

      @include responsive(lg) {
        width: 3.2rem;
        height: 3.2rem;
      }

      @include responsive(xl) {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }

  #Gallery {
    width: 100vw;

    .GalleryTitle {
      font-size: 3.5rem;
      text-decoration: underline;
      color: $second;
      font-weight: 800;
      letter-spacing: 0.1rem;
      text-align: center;
      margin-block: 2.2rem;

      @include responsive(md) {
        font-size: 6rem;
      }

      @include responsive(lg) {
        font-size: 7rem;
      }

      @include responsive(xl) {
        font-size: 5rem;
      }
    }

    .GalleryWrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;

      .GalleryImageWrapper {
        width: 33.3%;
        height: 15rem;
        cursor: $pointer, pointer;

        @include responsive(sm) {
          height: 20rem;
        }

        @include responsive(md) {
          height: 30rem;
        }

        @include responsive(lg) {
          height: 40rem;
        }

        @include responsive(xl) {
          width: 16.66%;
        }

        .GalleryImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .imageFull {
          object-fit: contain;
        }
      }

      .wrapperFull {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba($first, 0.98);
        cursor: $cursor, pointer;

        &::after {
          content: '';
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          background-image: url('../public/icons/close.png');
          background-position: center;
          background-size: 2.5rem;
          background-repeat: no-repeat;
          width: 4.2rem;
          height: 4.2rem;
          background-color: $second;
          border-radius: 50%;
          cursor: $pointer, pointer;

          @include responsive(md) {
            top: 2rem;
            rigth: 2rem;
            width: 5.5rem;
            height: 5.5rem;

            // background-size: 2.5rem;
          }

          @include responsive(lg) {
            top: 2.5rem;
            rigth: 2.5rem;
            width: 7rem;
            height: 7rem;

            background-size: 3.2rem;
          }

          @include responsive(xl) {
            top: 2rem;
            rigth: 2rem;
            width: 5rem;
            height: 5rem;

            background-size: 2.2rem;
          }
        }
      }
    }
  }
}

.GalleryButton {
  text-align: center;
  padding-bottom: 5rem;

  .GalleryLink {
    text-decoration: none;
    color: $first;
    font-size: 2.5rem;
    font-weight: 600;
    padding-block: 0.3rem;
    padding-inline: 1rem;
    border-radius: 1.5rem;
    background-color: $second;
    cursor: $pointer, pointer;

    @include responsive(md) {
      font-size: 3.5rem;
    }

    @include responsive(lg) {
      font-size: 5rem;
    }

    @include responsive(xl) {
      font-size: 3rem;
      transition: all ease 0.3s;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}
