#Player {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $second;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999 !important;
  cursor: $pointer, pointer;

  @include responsive(md) {
    top: 2.5rem;
    right: 2.5rem;
    width: 8rem;
    height: 8rem;
  }

  @include responsive(lg) {
    top: 2.5rem;
    right: 2.5rem;
    width: 11rem;
    height: 11rem;
  }

  @include responsive(xl) {
    top: 4rem;
    right: 4rem;
    width: 8rem;
    height: 8rem;
  }

  &.Play {
    animation: bubble 5s ease-in-out infinite;
    transition: 0.5s linear 0s;
  }

  &.Pause {
    animation: bubbleClose 1s linear;
    transition: 0.5s linear 0s;
  }

  #PlayerIcon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.5rem;
    height: 3.5rem;

    @include responsive(md) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @include responsive(lg) {
      width: 6rem;
      height: 6rem;
    }

    @include responsive(xl) {
      width: 5rem;
      height: 5rem;
    }

    &.Play {
      background-image: url('../public/icons/pause.png');
      animation: appear 0.3s linear;
      transition: 0.3s linear 0s;
    }

    &.Pause {
      background-image: url('../public/icons/play.png');
      animation: appear 0.3s linear;
      transition: 0.3s linear 0s;
    }
  }
}
