@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: #e3d8b9;
  color: #37312e;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
  cursor: url("../public/cursor.png"), pointer;
}

body {
  background-color: #37312e;
}

#Index {
  background-image: url("../public/images/background.png");
  background-position: center;
}

hr {
  margin: 5rem;
  border-color: #e3d8b9;
}
@media screen and (min-width: 670px) {
  hr {
    margin: 8rem;
  }
}
@media screen and (min-width: 910px) {
  hr {
    margin: 10rem;
  }
}
@media screen and (min-width: 1210px) {
  hr {
    margin-inline: 35rem;
    margin-block: 8rem;
  }
}

@keyframes bubble {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  40% {
    border-radius: 29% 71% 68% 32%/72% 48% 52% 28%;
  }
  60% {
    border-radius: 31% 69% 33% 67%/57% 52% 48% 43%;
  }
  80% {
    border-radius: 51% 49% 51% 49%/72% 73% 27% 28%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes bubbleClose {
  from {
    border-radius: 31% 69% 33% 67%/57% 52% 48% 43%;
  }
  to {
    border-radius: 50%;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Player {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e3d8b9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999 !important;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #Player {
    top: 2.5rem;
    right: 2.5rem;
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (min-width: 910px) {
  #Player {
    top: 2.5rem;
    right: 2.5rem;
    width: 11rem;
    height: 11rem;
  }
}
@media screen and (min-width: 1210px) {
  #Player {
    top: 4rem;
    right: 4rem;
    width: 8rem;
    height: 8rem;
  }
}
#Player.Play {
  animation: bubble 5s ease-in-out infinite;
  transition: 0.5s linear 0s;
}
#Player.Pause {
  animation: bubbleClose 1s linear;
  transition: 0.5s linear 0s;
}
#Player #PlayerIcon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3.5rem;
  height: 3.5rem;
}
@media screen and (min-width: 670px) {
  #Player #PlayerIcon {
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media screen and (min-width: 910px) {
  #Player #PlayerIcon {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1210px) {
  #Player #PlayerIcon {
    width: 5rem;
    height: 5rem;
  }
}
#Player #PlayerIcon.Play {
  background-image: url("../public/icons/pause.png");
  animation: appear 0.3s linear;
  transition: 0.3s linear 0s;
}
#Player #PlayerIcon.Pause {
  background-image: url("../public/icons/play.png");
  animation: appear 0.3s linear;
  transition: 0.3s linear 0s;
}

#Home {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Home .HomeWrapper {
  border: solid 4px #e3d8b9;
  width: 75%;
  height: 75%;
}
#Home .HomeWrapper .HomeImage {
  background-image: url("../public/images/mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
@media screen and (min-width: 670px) {
  #Home .HomeWrapper .HomeImage {
    background-image: url("../public/images/tablet.jpg");
  }
}
@media screen and (min-width: 1210px) {
  #Home .HomeWrapper .HomeImage {
    background-image: url("../public/images/desktop.jpg");
  }
}
#Home .HomeBottom {
  position: absolute;
  bottom: 6rem;
}
@media screen and (min-width: 500px) {
  #Home .HomeBottom {
    bottom: 5rem;
  }
}
@media screen and (min-width: 670px) {
  #Home .HomeBottom {
    bottom: 7rem;
  }
}
@media screen and (min-width: 910px) {
  #Home .HomeBottom {
    bottom: 8rem;
  }
}
@media screen and (min-width: 1210px) {
  #Home .HomeBottom {
    bottom: 6rem;
  }
}
#Home .HomeBottom .HomeLink {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #e3d8b9;
  font-weight: 600;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #Home .HomeBottom .HomeLink {
    font-size: 3rem;
  }
}
@media screen and (min-width: 910px) {
  #Home .HomeBottom .HomeLink {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Home .HomeBottom .HomeLink {
    font-size: 3rem;
  }
}
#Home .HomeBottom .HomeLink::after {
  content: "";
  position: absolute;
  background-image: url("../public/icons/down.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  right: 50%;
  top: 100%;
  transform: translate(50%, 10%);
}
@media screen and (min-width: 670px) {
  #Home .HomeBottom .HomeLink::after {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 910px) {
  #Home .HomeBottom .HomeLink::after {
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Home .HomeBottom .HomeLink::after {
    width: 3rem;
    height: 3rem;
  }
}

#Shows {
  width: 100vw;
  height: auto;
  padding-top: 5rem;
}
#Shows .ShowsTitle {
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 4px;
  text-align: center;
  font-size: 3rem;
  color: #e3d8b9;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 670px) {
  #Shows .ShowsTitle {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowsTitle {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowsTitle {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowsPast {
    display: flex;
    flex-flow: row nowrap;
    margin-inline: 10rem;
    margin-top: 1rem;
  }
}
#Shows .ShowWrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #e3d8b9;
}
@media screen and (min-width: 670px) {
  #Shows .ShowWrapper {
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowWrapper {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
}
#Shows .ShowWrapper .ShowImage {
  width: 25rem;
}
@media screen and (min-width: 670px) {
  #Shows .ShowWrapper .ShowImage {
    width: 35rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper .ShowImage {
    width: 45rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper .ShowImage {
    width: 28rem;
  }
}
#Shows .ShowWrapper .ShowTitle {
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 670px) {
  #Shows .ShowWrapper .ShowTitle {
    font-size: 4rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper .ShowTitle {
    font-size: 5rem;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowWrapper .ShowTitle {
    font-size: 3.5rem;
    margin-top: 1rem;
  }
}
#Shows .ShowWrapper .ShowDate {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 670px) {
  #Shows .ShowWrapper .ShowDate {
    font-size: 3rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper .ShowDate {
    font-size: 3.8rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowWrapper .ShowDate {
    font-size: 2.5rem;
  }
}
#Shows .ShowWrapper .ShowTime {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 670px) {
  #Shows .ShowWrapper .ShowTime {
    font-size: 3rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper .ShowTime {
    font-size: 3.8rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowWrapper .ShowTime {
    font-size: 2.5rem;
  }
}
#Shows .ShowWrapper .ShowLink {
  text-decoration: none;
  color: #37312e;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 1.5rem;
  background-color: #e3d8b9;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #Shows .ShowWrapper .ShowLink {
    margin-top: 1.6rem;
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 910px) {
  #Shows .ShowWrapper .ShowLink {
    margin-top: 2.2rem;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1210px) {
  #Shows .ShowWrapper .ShowLink {
    margin-top: 2rem;
    font-size: 2.7rem;
  }
}

#Disks {
  width: 100vw;
  height: auto;
}
#Disks .DisksTitle {
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 4px;
  text-align: center;
  font-size: 3rem;
  color: #e3d8b9;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 670px) {
  #Disks .DisksTitle {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DisksTitle {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1210px) {
  #Disks .DisksTitle {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Disks .DisksWrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-inline: 10rem;
    margin-top: 2rem;
  }
}
#Disks .DiskWrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: #e3d8b9;
}
@media screen and (min-width: 670px) {
  #Disks .DiskWrapper {
    margin-top: 4rem;
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DiskWrapper {
    margin-top: 5rem;
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 1210px) {
  #Disks .DiskWrapper {
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
}
#Disks .DiskWrapper .DiskImage {
  width: 25rem;
}
@media screen and (min-width: 670px) {
  #Disks .DiskWrapper .DiskImage {
    width: 35rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DiskWrapper .DiskImage {
    width: 45rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DiskWrapper .DiskImage {
    width: 28rem;
  }
}
#Disks .DiskWrapper .DiskTitle {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 670px) {
  #Disks .DiskWrapper .DiskTitle {
    font-size: 4rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DiskWrapper .DiskTitle {
    font-size: 5rem;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Disks .DiskWrapper .DiskTitle {
    font-size: 3.5rem;
    margin-top: 1rem;
  }
}
#Disks .DiskWrapper .DiskType {
  font-size: 1.7rem;
  font-weight: 600;
}
@media screen and (min-width: 670px) {
  #Disks .DiskWrapper .DiskType {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DiskWrapper .DiskType {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1210px) {
  #Disks .DiskWrapper .DiskType {
    font-size: 2rem;
  }
}
#Disks .DiskWrapper .DiskLink {
  text-decoration: none;
  color: #37312e;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 1.3rem;
  background-color: #e3d8b9;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #Disks .DiskWrapper .DiskLink {
    margin-top: 1.6rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 910px) {
  #Disks .DiskWrapper .DiskLink {
    margin-top: 2.2rem;
    font-size: 3.8rem;
  }
}
@media screen and (min-width: 1210px) {
  #Disks .DiskWrapper .DiskLink {
    margin-top: 2rem;
    font-size: 2.7rem;
  }
}

#GalleryContainer {
  width: 100vw;
  height: auto;
}
#GalleryContainer .Back {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: #e3d8b9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #GalleryContainer .Back {
    top: 2rem;
    left: 2rem;
    width: 5.5rem;
    height: 5.5rem;
  }
}
@media screen and (min-width: 910px) {
  #GalleryContainer .Back {
    top: 2.5rem;
    left: 2.5rem;
    width: 7rem;
    height: 7rem;
  }
}
@media screen and (min-width: 1210px) {
  #GalleryContainer .Back {
    top: 2rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
  }
}
#GalleryContainer .Back .BackIcon {
  background-image: url("../public/icons/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
}
@media screen and (min-width: 670px) {
  #GalleryContainer .Back .BackIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 910px) {
  #GalleryContainer .Back .BackIcon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
@media screen and (min-width: 1210px) {
  #GalleryContainer .Back .BackIcon {
    width: 2.2rem;
    height: 2.2rem;
  }
}
#GalleryContainer #Gallery {
  width: 100vw;
}
#GalleryContainer #Gallery .GalleryTitle {
  font-size: 3.5rem;
  text-decoration: underline;
  color: #e3d8b9;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-block: 2.2rem;
}
@media screen and (min-width: 670px) {
  #GalleryContainer #Gallery .GalleryTitle {
    font-size: 6rem;
  }
}
@media screen and (min-width: 910px) {
  #GalleryContainer #Gallery .GalleryTitle {
    font-size: 7rem;
  }
}
@media screen and (min-width: 1210px) {
  #GalleryContainer #Gallery .GalleryTitle {
    font-size: 5rem;
  }
}
#GalleryContainer #Gallery .GalleryWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
#GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper {
  width: 33.3%;
  height: 15rem;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 500px) {
  #GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper {
    height: 20rem;
  }
}
@media screen and (min-width: 670px) {
  #GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper {
    height: 30rem;
  }
}
@media screen and (min-width: 910px) {
  #GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper {
    height: 40rem;
  }
}
@media screen and (min-width: 1210px) {
  #GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper {
    width: 16.66%;
  }
}
#GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper .GalleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#GalleryContainer #Gallery .GalleryWrapper .GalleryImageWrapper .imageFull {
  object-fit: contain;
}
#GalleryContainer #Gallery .GalleryWrapper .wrapperFull {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(55, 49, 46, 0.98);
  cursor: url("../public/cursor.png"), pointer;
}
#GalleryContainer #Gallery .GalleryWrapper .wrapperFull::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-image: url("../public/icons/close.png");
  background-position: center;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  width: 4.2rem;
  height: 4.2rem;
  background-color: #e3d8b9;
  border-radius: 50%;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #GalleryContainer #Gallery .GalleryWrapper .wrapperFull::after {
    top: 2rem;
    rigth: 2rem;
    width: 5.5rem;
    height: 5.5rem;
  }
}
@media screen and (min-width: 910px) {
  #GalleryContainer #Gallery .GalleryWrapper .wrapperFull::after {
    top: 2.5rem;
    rigth: 2.5rem;
    width: 7rem;
    height: 7rem;
    background-size: 3.2rem;
  }
}
@media screen and (min-width: 1210px) {
  #GalleryContainer #Gallery .GalleryWrapper .wrapperFull::after {
    top: 2rem;
    rigth: 2rem;
    width: 5rem;
    height: 5rem;
    background-size: 2.2rem;
  }
}

.GalleryButton {
  text-align: center;
  padding-bottom: 5rem;
}
.GalleryButton .GalleryLink {
  text-decoration: none;
  color: #37312e;
  font-size: 2.5rem;
  font-weight: 600;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 1.5rem;
  background-color: #e3d8b9;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  .GalleryButton .GalleryLink {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 910px) {
  .GalleryButton .GalleryLink {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1210px) {
  .GalleryButton .GalleryLink {
    font-size: 3rem;
    transition: all ease 0.3s;
  }
  .GalleryButton .GalleryLink:hover {
    transform: scale(0.9);
  }
}

#Footer {
  width: 100vw;
  height: auto;
  background-color: #e3d8b9;
}
#Footer .FooterLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 2.5rem;
  padding-block: 2.5rem;
}
@media screen and (min-width: 670px) {
  #Footer .FooterLinks {
    gap: 4rem;
    padding-block: 3.2rem;
  }
}
@media screen and (min-width: 910px) {
  #Footer .FooterLinks {
    gap: 6rem;
    padding-block: 4rem;
  }
}
@media screen and (min-width: 1210px) {
  #Footer .FooterLinks {
    gap: 4.5rem;
    padding-block: 2rem;
  }
}
#Footer .FooterLinks .FooterLink {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 4.5rem;
  height: 4.5rem;
  cursor: url("../public/pointer.png"), pointer;
}
@media screen and (min-width: 670px) {
  #Footer .FooterLinks .FooterLink {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media screen and (min-width: 910px) {
  #Footer .FooterLinks .FooterLink {
    width: 9rem;
    height: 9rem;
  }
}
@media screen and (min-width: 1210px) {
  #Footer .FooterLinks .FooterLink {
    width: 5.5rem;
    height: 5.5rem;
  }
}
#Footer .FooterLinks .Spotify {
  background-image: url("../public/icons/spotify.png");
}
#Footer .FooterLinks .Youtube {
  background-image: url("../public/icons/youtube.png");
}
#Footer .FooterLinks .Instagram {
  background-image: url("../public/icons/instagram.png");
}
#Footer .FooterLinks .Twitter {
  background-image: url("../public/icons/twitter.png");
}
#Footer .FooterText {
  text-align: center;
  color: #37312e;
  font-size: 1.25rem;
  font-style: italic;
  padding-bottom: 1rem;
}
@media screen and (min-width: 670px) {
  #Footer .FooterText {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 910px) {
  #Footer .FooterText {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1210px) {
  #Footer .FooterText {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
